body {
	font-family: "Quicksand";
	padding: 0;
	margin: 0;
	background-image: linear-gradient(45deg, #005262 0%, #053d4d 100%);
	font-weight: normal;
	color: $white-color;
}
h1 {
	font-family: "Garamond-Premr-Pro";
	font-size: 32px;
}
h2 {
	font-family: "Garamond-Premr-Pro";
	font-size: 28px;
}
h3 {
	font-family: "Garamond-Premr-Pro";
	font-size: 24px;
}
h4 {
	font-family: "Garamond-Premr-Pro";
	font-size: 20px;
}
h5 {
	font-family: "Garamond-Premr-Pro";
	font-size: 16px;
}
h6 {
	font-family: "Garamond-Premr-Pro";
	font-size: 14px;
}
img {
	max-width: 100%;
}