body {
	font-family: "Muli-Regular";
	padding: 0;
	margin: 0;
	background-image: linear-gradient(45deg, #005262 0%, #053d4d 100%);
	font-weight: normal;
	color: #fff;
}
h1 {
	font-family: "Garamond-Premr-Pro";
}
h2 {
	font-family: "Garamond-Premr-Pro";
}
h3 {
	font-family: "Garamond-Premr-Pro";
}
h4 {
	font-family: "Garamond-Premr-Pro";
}
h5 {
	font-family: "Garamond-Premr-Pro";
}
h6 {
	font-family: "Garamond-Premr-Pro";
}
img {
	max-width: 100%;
}