.landing-page{
	@media only screen and (min-width: 1200px) {


	}
	@media only screen and (min-width: 1500px) {

	}
	@media only screen and (min-width: 1600px) {

	}
	@media only screen and (max-width: 1500px) {
		
	}
	@media only screen and (min-width: 1700px) {

	}
	@media only screen and (max-width: 1500px) and (min-width: 1200px) {

	}
	@media only screen and (max-width: 1440px) {

	}
	@media only screen and (max-width: 1200px) {
		
	}
	@media only screen and (max-width: 992px) {
		.header{
			&__right{
				span{
					display: none;
				}
			}
			&__contact{
				a{
					margin-left: 0;
				}
			}
			&__menu{
				a{
					margin-left: 0;
				}
			}
		}
		.s3{
			&__content{
				margin-bottom: 42px;
				padding-right: 15px;
			}
			&__icon{
				display: flex;
				justify-content: center;
			}
		}
		.s4{
			.row{
				flex-direction: column-reverse;
			}
			&__content{
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 32px;
			}
			&__img{
				position: initial;
				width: 100%;
			}
		}
		.s5{
			&__content{
				padding-left: 15px;
				padding-right: 15px;
			}
			&__arrow{
				&--next{
					right: 30px;
				}
				&--prev{
					left: 30px;
				}
			}
		}
		.s7{
			&-info{
				&__box{
					&:after{
						display: none;
					}
				}
			}
		}
		.s8{
			.row{
				position: relative;
			}
			&__icon{
				position: absolute;
				right: 0;
				top: 0;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
	@media only screen and (max-width: 768px) {
		.s2{
			padding: 80px 0;
		}
		.s3{
			padding-bottom: 0;
		}
		.s5{
			&__desc{
				max-width: 100%;
			}
		}
		.s6{
			&__desc{
				max-width: 100%;
			}
		}
		.s8{
			&__content{
				margin-top: 0;
			}
		}
		.contact{
			&__content{
				h3{
					letter-spacing: 1px;
				}
			}
			.row{
				flex-direction: column;
				& > div:nth-child(2n){
					margin-left: 0;
				}
				& > div{
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			&__form{
				width: 100%;
				padding-left: 30px;
				padding-right: 30px
			}
		}
	}
	@media only screen and (max-width: 480px) {
		.header{
			&__name{
				display: none;
			}
			.navbar__close{
				top: 20px;
				right: 20px;
			}
		}
		.s3{
			&__icon{
				img{
					width: 100px;
				}
			}
		}
		.s7{
			&__icon{
				display: none;
			}
			&__desc{
				max-width: 100%;
			}
		}
		.s8{
			&__content{
				order: 1;
				img{
					margin-left: auto;
					margin-right: auto;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			&__img{
				order: 3;
			}
			&__icon{
				order: 2;
				position: initial;
				margin-top: 10px;
				margin-bottom: -20px;
				img{
					width: 100px;
				}
			}
		}
	}
}