.white-color {
	color: #FFFFFF;
}
.primary-color {
	color: #ffd8a3;
}
.text-color {
	color: #edd9c0;
}
.text-color-secondary {
	color: #505324;
}
.ff-muli-regular {
	font-family: 'Muli-Regular';
}
.ff-muli-bold {
	.loading-scren {
		font-family: 'Muli-Bold';
	}
}
.ff-muli-extrabold {
	font-family: 'Muli-ExtraBold';
}
.ff-garamond-premr-pro {
	font-family: 'Garamond-Premr-Pro';
}