$white-color: #FFFFFF;
$red-color: #d71e25;
$primary-color: rgb(0, 145, 174);
$text-color: #60b0a4;
$background-color: #233331;
$background-color-light: #354d49;
$line-color: #42776f;

$height-header: 58px;