.landing-page{

	.header{
		height: $height-header;
		position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
		background-color: $background-color-light;

		&__content{
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			height: 100%;
		}
		&__top{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 5px;
			background-color: $line-color;
		}
		&__left{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__logo{
			padding: 20px 16px 12px;
			background-color: $line-color;
			position: absolute;
			left: 0;
			top: 0;
		}
		&__name{
			font-family: 'Garamond-Premr-Pro';
			letter-spacing: 5px;
			font-size: 13px;
			margin-left: 120px;
			margin-bottom: -8px;
		}
		&__right{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			a{
				margin-left: 12px;
			}
			span{
				font-size: 13px;
			}
		}
		&__line{
			width: 1px;
			height: 100%;
			background-color: $line-color;
			margin: 0 30px;
		}
	}

	.main{
		padding-top: $height-header;
	}
	
	section{
		width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
	}
	.section-item{
		display: flex;
		align-items: center;
		margin-bottom: 48px;
		&__line{
			width: 10px;
			height: 30px;
			background-color: $line-color;
			margin-right: 20px;
		}
		span{
			font-family: 'Garamond-Premr-Pro';
		}
	}
	.s1{
		padding: 200px 0;
		&-wrapper{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.s2{
		padding: 150px 0;
		&-wrapper{
		}
	}

	.s3{
		padding: 60px 0;
		&-wrapper{
		}
		&__title{
			text-transform: uppercase;
			margin-bottom: 42px;
		}
		&__content{
			padding-right: 80px;
		}
		&__icon{
			margin-top: 60px;
			img:first-child{
				margin-right: 60px;
			}
		}
		&__img{
			img{
			}
		}
	}

	.s4{
		background-color: $background-color-light;
		&-wrapper{
		}
		&__title{
			text-transform: uppercase;
			margin-bottom: 42px;
		}
		&__content{
			padding: 60px 0 60px 80px;
		}
		&__icon{
			margin-top: 60px;
		}
		&__img{
			img{
			}
		}
	}

	.s5{
		padding: 60px 0 0;
		background-color: #233331;
		&-wrapper{
		}
		&__content{
			text-align: center;
		}
		&__subtitle{
			color: #60b0a4;
			font-size: 13px;
			font-family: 'Garamond-Premr-Pro';
			text-transform: uppercase;
			margin-bottom: 28px;
		}
		&__title{
			text-transform: uppercase;
			margin-bottom: 28px;
		}
		&__slide{
			position: relative;
		}
		&__item{
			position: relative;
			&-title{
				font-weight: 700;
				margin-bottom: 20px;
			}
			&-desc{
				margin-bottom: 36px;
			}
			&-content{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;
				padding: 0 42px;
			}
		}

	}
}




.loading-scren {
	span {
		font-family: 'Garamond-Premr-Pro';
		font-size: 18px;
	}
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	background: transparent;
	border: 3px solid #edd9c036;
	// border-radius: 50%;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	color: #fff191;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-shadow: 0 0 5px #ffffff;
	box-shadow: 0 0 20px #edd9c0;
	z-index: 1031;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	
}

.loading-scren-wrapper {
	opacity: 1;
	overflow: hidden;
	transition: opacity .5s ease-in-out;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000000d1;
	ul{
    position: absolute;
    top: calc(45% + 120px);   
		width: 100%;   
		text-align: center;
		padding-left: 0;
    transform: translateY(-50%);
	}
	ul li{
			list-style: none;
			position: relative;
			display: inline-block;
			background: #1c1a1a;
			width: 40px;   height: 40px;
			overflow: hidden;
	}
	ul li::before{
			content: attr(data);
			position: absolute;
			left: 0;
			width: 100%;   
			height: 100%;
			text-align: center;   
			line-height: 45px;
    	font-size: 35px;   
			font-weight: bold;
			background: #ffc107;
			overflow:hidden;
	}
	ul li:nth-child(2n)::before{
			animation: animateEven 2s infinite linear;
	}
	ul li:nth-child(2n+1)::before{
			animation: animateOdd 2s infinite linear;
	}
	@keyframes animateOdd{
			0%{
					top: -100%;
					transform: scale(1);
			}
			30%{
					top: 0;
					transform: scale(.6);
			}
			70%{
					top: 0;
					transform: scale(.6);
			}
			100%{
					top: 100%;
					transform: scale(.2);
			}
	}
	@keyframes animateEven{
			0%{
					top: 100%;
					transform: scale(1);
			}
			30%{
					top: 0;
					transform: scale(.6);
			}
			70%{
					top: 0;
					transform: scale(.6);
			}
			100%{
					top: -100%;
					transform: scale(.2);
			}
	}
}