.landing-page{

	.header{
		height: $height-header;
		position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
		background-color: $background-color-light;

		&__content{
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			height: 100%;
		}
		&__top{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 5px;
			background-color: $line-color;
		}
		&__left{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__logo{
			padding: 20px 16px 12px;
			background-color: $line-color;
			position: absolute;
			left: 0;
			top: 0;
			width: 100px;
		}
		&__name{
			font-family: 'Garamond-Premr-Pro';
			letter-spacing: 5px;
			font-size: 13px;
			margin-left: 120px;
			margin-bottom: -8px;
		}
		&__right{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			a{
				margin-left: 12px;
			}
			span{
				font-size: 13px;
			}
		}
		&__line{
			width: 1px;
			height: 100%;
			background-color: $line-color;
			margin: 0 30px;
		}
		&__menu a{
			cursor: pointer;
		}
		.navbar{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1000;
			background-image: url(../images/logo-nen.png);
			background-repeat: no-repeat;
			background-size: cover;
			max-height: 0;
			overflow: auto;
			transition: max-height .5s ease-in-out;
			padding: 0;
			text-align: center;
			display: flex;
			justify-content: center;
			background-position: center;
			&.active{
				height: 100vh;
				max-height: 100vh;
			}
			&-nav{
				padding-top: 60px;
				padding-bottom: 40px;
			}
			&__close{
				position: absolute;
				right: 60px;
				top: 40px;
				background: transparent;
				border: none;
				outline: none;
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					color: #FFFFFF;
					font-size: 34px;
				}
				span {
					font-size: 12px;
					font-weight: 400;
					color: #FFFFFF;
					text-transform: uppercase;
					margin-left: 3px;
				}
			}
			.nav-link {
				position: relative;
				color: #fff191;
				font-family: "Garamond-Premr-Pro";
				font-size: 20px;
				font-weight: 400;
				text-transform: uppercase;
				padding-bottom: 12px;
				margin-bottom: 20px;
				cursor: pointer;
				user-select: none;
				&:hover {
					color: #fff;
				}
				&:after{
					content: "";
					position: absolute;
					background-image: url(../images/icon-line-menu.svg);
					background-repeat: no-repeat;
					background-size: 100%;
					bottom: 0;
					left: 0;
					right: 0;
					height: 2px;
				}
			}
			.nav-link.active {
				color: #fff;
			}
		}
	}

	.main{
		padding-top: $height-header;
	}
	
	section{
		width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
	}
	.section-item{
		display: flex;
		align-items: center;
		margin-bottom: 48px;
		&__line{
			width: 10px;
			height: 30px;
			background-color: $line-color;
			margin-right: 20px;
		}
		span{
			font-family: 'Garamond-Premr-Pro';
		}
	}
	.s1{
		background-image: url('./../images/s1-bg.png');
		padding: 150px 0;
		&-wrapper{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.s2{
		padding: 150px 0;
		&-wrapper{
		}
	}

	.s3{
		padding: 60px 0 53px;
		background-position: bottom;
		&-wrapper{
		}
		&__title{
			text-transform: uppercase;
			margin-bottom: 42px;
		}
		&__content{
			padding-right: 80px;
		}
		&__icon{
			margin-top: 60px;
			img:first-child{
				margin-right: 60px;
			}
		}
		&__img{
			img{
			}
		}
	}

	.s4{
		background-color: $background-color-light;
		&-wrapper{
		}
		&__title{
			text-transform: uppercase;
			margin-bottom: 42px;
		}
		&__content{
			padding: 60px 0 60px 80px;
		}
		&__icon{
			margin-top: 60px;
		}
		&__img{
			position: absolute;
			left: 0;
			width: calc(100vw/2);
			img{
				height: 550px;
				object-fit: cover;
			}
		}
	}

	.s5{
		padding: 60px 0 0;
		background-color: $background-color;
		&-wrapper{
		}
		&__content{
			text-align: center;
			margin-bottom: 60px;
		}
		&__subtitle{
			color: #60b0a4;
			font-size: 13px;
			font-family: 'Garamond-Premr-Pro';
			text-transform: uppercase;
			margin-bottom: 28px;
		}
		&__title{
			text-transform: uppercase;
			margin-bottom: 28px;
		}
		&__desc{
			max-width: 60%;
			margin: auto;
		}
		&__slide{
			position: relative;
			overflow: hidden;
		}
		&__item{
			position: relative;
			height: initial;
			&-img{
				height: 100%;
				img{
					height: 100%;
					max-height: 600px;
					object-fit: cover;
				}
			}
			&-title{
				font-weight: 700;
				margin-bottom: 20px;
			}
			&-desc{
				margin-bottom: 0;
				max-height: 0;
				overflow: hidden;
				transition: max-height .7s ease-in-out;
			}
			&-content{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;
				padding: 0 42px;
				margin-bottom: 36px;
			}
			&:hover{
				.s5__item{
					&-desc{
						max-height: 200px;
					}
				}
			}
		}
		&__arrow{
			width: 60px;
			height: 60px;
			position: absolute;
			top: 50%;
			z-index: 100;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background-color: #0000005c;
			transition: all .3s ease-in-out;
			// transform: translateY(50%);
			&:hover{
				transform: scale(1.2);
				background-color: $background-color;
			}
			svg{
				font-size: 30px;
			}
			&--next{
				right: calc(33.3% - 30px);
			}
			&--prev{
				left: calc(33.3% - 30px);
			}
		}
	}

	.s6{
		padding: 60px 0 30px;
		background-color: $background-color;
		&-wrapper{
		}
		&__content{
			text-align: center;
			margin-bottom: 60px;
		}
		&__title{
			text-transform: uppercase;
			margin-bottom: 28px;
		}
		&__desc{
			max-width: 80%;
			margin: auto;
		}
		&__list{

		}
		.row{
			margin-right: -8px;
			margin-left: -8px;
		}
		&__item{
			margin-bottom: 20px;
			padding-right: 8px;
			padding-left: 8px;
			&-img{
				height: 275px;
				overflow: hidden;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			&-line{
				width: 2px;
				height: 45px;
				background-color: $line-color;
				margin-right: 24px;
				margin-left: 16px;
			}
			&-content{
				display: flex;
				align-items: center;
				height: 64px;
			}
			&-title{
				display: flex;
				align-items: center;
				height: 64px;
				font-weight: 600;
				font-size: 15px;
				margin-bottom: 0;
				padding: 8px 0;
				border-left: 2px solid #42776f;
				padding-left: 24px;
				margin-left: 8px;
				padding-top: 12px;
			}
		}
	}

	.s7{
		padding: 60px 0 0;
		background-color: $background-color-light;
		&-wrapper{
		}
		&__content{
			margin-bottom: 40px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__title{
			text-transform: uppercase;
			margin-bottom: 28px;
		}
		&__desc{
			max-width: 80%;
		}
		&__icon{
			img{
				width: 124px;
				max-width: 124px;
			}
		}
	}

	.s8{
		padding: 60px 0;
		&__content{
			color: #354d49;
			margin-top: 32px;
			&-subtle{
				margin-bottom: 20px;
				letter-spacing: 3px;
				text-transform: uppercase;
			}
			&-title{
				margin-bottom: 40px;
				text-transform: uppercase;
			}
			&-desc{
				font-weight: 700;
				font-size: 18px;
			}
			img{
				margin: 80px 0;
			}
			&-note{
				color: #b1d7d1;
				font-size: 13px;
			}
		}

		&__icon{
			margin-top: 40px;
		}
		
	}

	.contact{
		padding: 60px 0;
		background-color: $background-color;
		&__content{
			text-align: center;
			margin-bottom: 60px;
			img{
				width: 120px;
				max-width: 120px;
				margin-bottom: 36px;
			}
			h3{
				letter-spacing: 7px;
				text-transform: uppercase;
			}
		}
		&__form{
			max-width: 680px;
			width: 680px;
			margin: auto;
			.row {
				>div {
					display: flex;
					align-items: center;
					// border-top: 1px solid #505324;
					border-bottom: 1px solid #fff;
					padding: 8px 0;
					margin-bottom: 20px;
					flex: 1;
					&:nth-child(2n) {
						margin-left: 30px;
					}
				}
				label {
					white-space: nowrap;
					margin-bottom: 0;
					font-size: 14px;
					font-weight: 400;
					margin-bottom: -5px;
				}
				input {
					background: transparent;
					border: none;
					outline: none;
								box-shadow: none;
								color: #fff;
				}
			}
			button {
				font-size: 14px;
				font-weight: 400;
				text-transform: uppercase;
				background-color: transparent;
				border: none;
				outline: none;
				box-shadow: none;
				margin-top: 30px;
				color: $text-color;
				transition: all .3s ease-in-out;
				&:hover {
					background-color: transparent;
					outline: none;
					box-shadow: none;
					margin-left: 24px;
					text-decoration: underline;
								color: #fff;
				}
				&:focus {
					background-color: transparent;
					border: none;
					outline: none;
					box-shadow: none;
				}
				svg {
					margin-left: 10px;
					font-size: 20px;
				}
			}
		}
	}

	footer{
		background-color: #354d49;
		padding: 20px 0;
		p{
			letter-spacing: 4px;
			margin-bottom: 0;
			font-size: 14px;
			text-align: center;
		}
	}
}




.loading-scren {
	span {
		font-family: 'Garamond-Premr-Pro';
		font-size: 18px;
	}
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	background: transparent;
	border: 3px solid #edd9c036;
	// border-radius: 50%;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	color: #fff191;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-shadow: 0 0 5px #ffffff;
	box-shadow: 0 0 20px #edd9c0;
	z-index: 1031;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	
}

.loading-scren-wrapper {
	opacity: 1;
	overflow: hidden;
	transition: opacity .5s ease-in-out;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000000d1;
	ul{
    position: absolute;
    top: calc(45% + 120px);   
		width: 100%;   
		text-align: center;
		padding-left: 0;
    transform: translateY(-50%);
	}
	ul li{
			list-style: none;
			position: relative;
			display: inline-block;
			background: #1c1a1a;
			width: 40px;   height: 40px;
			overflow: hidden;
	}
	ul li::before{
			content: attr(data);
			position: absolute;
			left: 0;
			width: 100%;   
			height: 100%;
			text-align: center;   
			line-height: 45px;
    	font-size: 35px;   
			font-weight: bold;
			background: #ffc107;
			overflow:hidden;
	}
	ul li:nth-child(2n)::before{
			animation: animateEven 2s infinite linear;
	}
	ul li:nth-child(2n+1)::before{
			animation: animateOdd 2s infinite linear;
	}
	@keyframes animateOdd{
			0%{
					top: -100%;
					transform: scale(1);
			}
			30%{
					top: 0;
					transform: scale(.6);
			}
			70%{
					top: 0;
					transform: scale(.6);
			}
			100%{
					top: 100%;
					transform: scale(.2);
			}
	}
	@keyframes animateEven{
			0%{
					top: 100%;
					transform: scale(1);
			}
			30%{
					top: 0;
					transform: scale(.6);
			}
			70%{
					top: 0;
					transform: scale(.6);
			}
			100%{
					top: -100%;
					transform: scale(.2);
			}
	}
}