@font-face {
  font-family: 'Garamond-Premr-Pro';
  src: url("../fonts/GaramondPremrPro-SmbdSubh.otf") format("truetype"); }

body {
  font-family: "Quicksand";
  padding: 0;
  margin: 0;
  background-image: linear-gradient(45deg, #005262 0%, #053d4d 100%);
  font-weight: normal;
  color: #FFFFFF; }

h1 {
  font-family: "Garamond-Premr-Pro";
  font-size: 32px; }

h2 {
  font-family: "Garamond-Premr-Pro";
  font-size: 28px; }

h3 {
  font-family: "Garamond-Premr-Pro";
  font-size: 24px; }

h4 {
  font-family: "Garamond-Premr-Pro";
  font-size: 20px; }

h5 {
  font-family: "Garamond-Premr-Pro";
  font-size: 18px; }

h6 {
  font-family: "Garamond-Premr-Pro";
  font-size: 16px; }

img {
  max-width: 100%; }

.white-color {
  color: #FFFFFF; }

.primary-color {
  color: #ffd8a3; }

.text-color {
  color: #edd9c0; }

.text-color-secondary {
  color: #505324; }

.ff-muli-regular {
  font-family: 'Muli-Regular'; }

.ff-muli-bold .loading-scren {
  font-family: 'Muli-Bold'; }

.ff-muli-extrabold {
  font-family: 'Muli-ExtraBold'; }

.ff-garamond-premr-pro {
  font-family: 'Garamond-Premr-Pro'; }

.no-scroll {
  overflow: hidden; }

.landing-page .header {
  height: 58px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #354d49; }
  .landing-page .header .wow {
    visibility: visible !important; }
  .landing-page .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%; }
  .landing-page .header__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #42776f; }
  .landing-page .header__left {
    display: flex;
    justify-content: center;
    align-items: center; }
  .landing-page .header__logo {
    padding: 20px 16px 12px;
    background-color: #42776f;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px; }
  .landing-page .header__name {
    font-family: 'Garamond-Premr-Pro';
    letter-spacing: 5px;
    font-size: 13px;
    margin-left: 120px;
    margin-bottom: -8px; }
  .landing-page .header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .landing-page .header__right > div {
      display: flex;
      align-items: center; }
    .landing-page .header__right img {
      transition: all .3s ease-in-out; }
      .landing-page .header__right img:hover {
        transform: scale(1.2); }
    .landing-page .header__right a {
      margin-left: 12px; }
    .landing-page .header__right span {
      font-size: 13px; }
  .landing-page .header__line {
    width: 1px;
    height: 100%;
    background-color: #42776f;
    margin: 0 30px; }
  .landing-page .header__menu a {
    cursor: pointer; }
  .landing-page .header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-image: url(../images/logo-nen.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 0;
    overflow: auto;
    transition: max-height .5s ease-in-out;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    background-position: center; }
    .landing-page .header .navbar.active {
      height: 100vh;
      max-height: 100vh; }
    .landing-page .header .navbar-nav {
      padding-top: 60px;
      padding-bottom: 40px; }
    .landing-page .header .navbar__close {
      position: absolute;
      right: 60px;
      top: 40px;
      background: transparent;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      .landing-page .header .navbar__close svg {
        color: #FFFFFF;
        font-size: 34px; }
      .landing-page .header .navbar__close span {
        font-size: 12px;
        font-weight: 400;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-left: 3px; }
    .landing-page .header .navbar .nav-link {
      position: relative;
      color: #fff191;
      font-family: "Garamond-Premr-Pro";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 12px;
      margin-bottom: 20px;
      cursor: pointer;
      user-select: none; }
      .landing-page .header .navbar .nav-link:hover {
        color: #fff; }
      .landing-page .header .navbar .nav-link:after {
        content: "";
        position: absolute;
        background-image: url(../images/icon-line-menu.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px; }
    .landing-page .header .navbar .nav-link.active {
      color: #fff; }

.landing-page .main {
  padding-top: 58px; }

.landing-page section {
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.landing-page .section-item {
  display: flex;
  align-items: center;
  margin-bottom: 48px; }
  .landing-page .section-item__line {
    width: 10px;
    height: 30px;
    background-color: #42776f;
    margin-right: 20px; }
  .landing-page .section-item span {
    font-family: 'Garamond-Premr-Pro'; }

.landing-page .s1 {
  background-image: url("./../images/s1-bg.png");
  padding: 150px 0; }
  .landing-page .s1-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }

.landing-page .s2 {
  padding: 150px 0; }

.landing-page .s3 {
  padding: 60px 0 53px;
  background-position: bottom; }
  .landing-page .s3__title {
    text-transform: uppercase;
    margin-bottom: 42px; }
  .landing-page .s3__content {
    padding-right: 80px; }
  .landing-page .s3__icon {
    margin-top: 60px;
    display: flex; }
    .landing-page .s3__icon img:first-child {
      margin-right: 60px; }

.landing-page .s4 {
  background-color: #354d49; }
  .landing-page .s4__title {
    text-transform: uppercase;
    margin-bottom: 42px; }
  .landing-page .s4__content {
    padding: 60px 0 60px 80px; }
  .landing-page .s4__icon {
    margin-top: 60px; }
  .landing-page .s4__img {
    position: absolute;
    left: 0;
    width: calc(100vw/2); }
    .landing-page .s4__img img {
      height: 550px;
      object-fit: cover; }

.landing-page .s5 {
  padding: 60px 0 0;
  background-color: #233331; }
  .landing-page .s5__content {
    text-align: center;
    margin-bottom: 60px; }
  .landing-page .s5__subtitle {
    color: #60b0a4;
    font-size: 13px;
    font-family: 'Garamond-Premr-Pro';
    text-transform: uppercase;
    margin-bottom: 28px; }
  .landing-page .s5__title {
    text-transform: uppercase;
    margin-bottom: 28px; }
  .landing-page .s5__desc {
    max-width: 60%;
    margin: auto; }
  .landing-page .s5__slide {
    position: relative;
    overflow: hidden; }
  .landing-page .s5__item {
    position: relative;
    height: initial; }
    .landing-page .s5__item-img {
      height: 100%; }
      .landing-page .s5__item-img img {
        height: 100%;
        width: 100%;
        max-height: 600px;
        object-fit: cover; }
    .landing-page .s5__item-title {
      font-weight: 700;
      margin-bottom: 20px; }
    .landing-page .s5__item-desc {
      margin-bottom: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height .7s ease-in-out; }
    .landing-page .s5__item-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 0 42px;
      margin-bottom: 36px; }
    .landing-page .s5__item:hover .s5__item-desc {
      max-height: 200px; }
  .landing-page .s5__arrow {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0000005c;
    transition: all .3s ease-in-out;
    transform: translateY(-50%); }
    .landing-page .s5__arrow:hover {
      transform: translateY(-50%) scale(1.2);
      background-color: #233331; }
    .landing-page .s5__arrow svg {
      font-size: 30px; }
    .landing-page .s5__arrow--next {
      right: calc(33.3% - 30px); }
    .landing-page .s5__arrow--prev {
      left: calc(33.3% - 30px); }

.landing-page .s6 {
  padding: 60px 0 30px;
  background-color: #233331; }
  .landing-page .s6__content {
    text-align: center;
    margin-bottom: 60px; }
  .landing-page .s6__title {
    text-transform: uppercase;
    margin-bottom: 28px; }
  .landing-page .s6__desc {
    max-width: 80%;
    margin: auto; }
  .landing-page .s6 .row {
    margin-right: -8px;
    margin-left: -8px; }
  .landing-page .s6__item {
    margin-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px; }
    .landing-page .s6__item-img {
      height: 275px;
      overflow: hidden; }
      .landing-page .s6__item-img img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    .landing-page .s6__item-line {
      width: 2px;
      height: 45px;
      background-color: #42776f;
      margin-right: 24px;
      margin-left: 16px; }
    .landing-page .s6__item-content {
      display: flex;
      align-items: center;
      height: 64px; }
    .landing-page .s6__item-title {
      display: flex;
      align-items: center;
      height: 64px;
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 0;
      padding: 8px 0;
      border-left: 2px solid #42776f;
      padding-left: 24px;
      margin-left: 8px;
      padding-top: 12px; }

.landing-page .s7 {
  padding: 60px 0 0;
  background-color: #354d49; }
  .landing-page .s7__content {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .landing-page .s7__title {
    text-transform: uppercase;
    margin-bottom: 28px; }
  .landing-page .s7__desc {
    max-width: 80%; }
  .landing-page .s7__img {
    position: relative;
    overflow: hidden; }
    .landing-page .s7__img img {
      width: 100%; }
  .landing-page .s7__bg {
    position: absolute;
    left: 0;
    top: 0;
    background-position: bottom;
    width: 2600px;
    height: 1465px;
    background-size: contain;
    background-repeat: no-repeat; }
  .landing-page .s7 .all-dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }
    .landing-page .s7 .all-dot .dot-num {
      position: absolute;
      display: block;
      width: 32px;
      height: 32px;
      line-height: 40px;
      color: #fff;
      font-weight: 700;
      text-align: center;
      font-size: 18px;
      box-shadow: 0 0 4px #fcff05;
      filter: drop-shadow(0 0 4px #fcff05);
      background-color: #fff;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      transform: scale(0);
      border: 3px solid #42776f; }
      .landing-page .s7 .all-dot .dot-num.show {
        transform: scale(1) translateZ(0); }
      .landing-page .s7 .all-dot .dot-num:after {
        content: "";
        position: absolute;
        pointer-events: none;
        z-index: -1;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        left: -4px;
        top: -4px;
        border: 3px solid #42776f;
        border-radius: 50%; }
      .landing-page .s7 .all-dot .dot-num span.circle {
        position: absolute;
        display: block;
        border: 1px solid #edc97d;
        border-radius: 50%;
        box-shadow: 0 0 4px #fcff05;
        transform: translateZ(0);
        animation: Ani 2s infinite;
        width: calc(100% + 11px);
        height: calc(100% + 11px);
        left: -5px;
        top: -5px; }
      .landing-page .s7 .all-dot .dot-num span.circle-inner {
        position: absolute;
        pointer-events: none;
        z-index: 1;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        left: 0;
        top: 0;
        background-color: #42776f;
        border-radius: 50%;
        bottom: 0;
        right: 0;
        margin: auto; }
    .landing-page .s7 .all-dot .dot-01 {
      left: 11.5%;
      top: 50%; }
    .landing-page .s7 .all-dot .dot-02 {
      left: 38.5%;
      top: 66.5%; }
    .landing-page .s7 .all-dot .dot-03 {
      left: 44%;
      top: 53.5%; }
    .landing-page .s7 .all-dot .dot-04 {
      left: 37.2%;
      top: 42.4%; }
    .landing-page .s7 .all-dot .dot-05 {
      left: 40%;
      top: 38%; }
    .landing-page .s7 .all-dot .dot-06 {
      left: 43%;
      top: 30%; }
    .landing-page .s7 .all-dot .dot-07 {
      left: 33%;
      top: 21%; }
    .landing-page .s7 .all-dot .dot-08 {
      left: 66%;
      top: 51%; }
    .landing-page .s7 .all-dot .dot-09 {
      left: 82%;
      top: 48.5%; }
    .landing-page .s7 .all-dot .dot-10 {
      left: 92.5%;
      top: 67.5%; }
  .landing-page .s7__icon img {
    width: 124px;
    max-width: 124px; }
  .landing-page .s7-info__box {
    max-width: 210px;
    padding: 8px 16px;
    opacity: 0;
    transform: scale(0);
    width: auto;
    height: auto;
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    box-shadow: 0 10px 20px 0 #0000001a;
    background-color: #42776f;
    text-align: center;
    cursor: pointer;
    color: #fff;
    z-index: 500; }
    .landing-page .s7-info__box:after {
      content: "";
      position: absolute;
      width: 0;
      border-style: solid;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
      margin: 0;
      border-width: 2px;
      border-color: #42776f;
      max-height: 0;
      transition: max-height .5s ease-in-out; }
    .landing-page .s7-info__box.show {
      transform: scale(1);
      opacity: 1; }
      .landing-page .s7-info__box.show:after {
        min-height: 60px;
        max-height: 60px; }
    .landing-page .s7-info__box p {
      font-size: 15px;
      width: 100%;
      height: auto;
      display: block;
      white-space: normal;
      text-shadow: 0 1px 1px #00000033;
      margin-bottom: 0;
      font-weight: 500; }

.landing-page .s8 {
  padding: 60px 0; }
  .landing-page .s8__content {
    color: #354d49;
    margin-top: 32px; }
    .landing-page .s8__content-subtle {
      margin-bottom: 20px;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .landing-page .s8__content-title {
      margin-bottom: 40px;
      text-transform: uppercase; }
    .landing-page .s8__content-desc {
      font-weight: 700;
      font-size: 18px; }
    .landing-page .s8__content img {
      margin: 80px 0; }
    .landing-page .s8__content-note {
      color: #b1d7d1;
      font-size: 13px; }
  .landing-page .s8__icon {
    margin-top: 40px; }

.landing-page .contact {
  padding: 80px 0;
  background-color: #233331; }
  .landing-page .contact__content {
    text-align: center;
    margin-bottom: 60px; }
    .landing-page .contact__content img {
      width: 120px;
      max-width: 120px;
      margin-bottom: 36px; }
    .landing-page .contact__content h3 {
      letter-spacing: 7px;
      text-transform: uppercase; }
  .landing-page .contact__form {
    max-width: 680px;
    width: 680px;
    margin: auto; }
    .landing-page .contact__form .row > div {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #fff;
      padding: 8px 0;
      margin-bottom: 20px;
      flex: 1; }
      .landing-page .contact__form .row > div:nth-child(2n) {
        margin-left: 30px; }
    .landing-page .contact__form .row label {
      white-space: nowrap;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: -5px; }
    .landing-page .contact__form .row input {
      background: transparent;
      border: none;
      outline: none;
      box-shadow: none;
      color: #fff; }
    .landing-page .contact__form button {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      background-color: transparent;
      border: none;
      outline: none;
      box-shadow: none;
      margin-top: 30px;
      color: #60b0a4;
      transition: all .3s ease-in-out; }
      .landing-page .contact__form button:hover {
        background-color: transparent;
        outline: none;
        box-shadow: none;
        margin-left: 24px;
        text-decoration: underline;
        color: #fff; }
      .landing-page .contact__form button:focus {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none; }
      .landing-page .contact__form button svg {
        margin-left: 10px;
        font-size: 20px; }

.landing-page footer {
  background-color: #354d49;
  padding: 20px 0; }
  .landing-page footer p {
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center; }

.loading-scren {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #edd9c036;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  color: #fff191;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ffffff;
  box-shadow: 0 0 20px #edd9c0;
  z-index: 1031;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .loading-scren span {
    font-family: 'Garamond-Premr-Pro';
    font-size: 18px; }

.loading-scren-wrapper {
  opacity: 1;
  overflow: hidden;
  transition: opacity .5s ease-in-out;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000d1; }
  .loading-scren-wrapper ul {
    position: absolute;
    top: calc(45% + 120px);
    width: 100%;
    text-align: center;
    padding-left: 0;
    transform: translateY(-50%); }
  .loading-scren-wrapper ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    background: #1c1a1a;
    width: 40px;
    height: 40px;
    overflow: hidden; }
  .loading-scren-wrapper ul li::before {
    content: attr(data);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 35px;
    font-weight: bold;
    background: #ffc107;
    overflow: hidden; }
  .loading-scren-wrapper ul li:nth-child(2n)::before {
    animation: animateEven 2s infinite linear; }
  .loading-scren-wrapper ul li:nth-child(2n+1)::before {
    animation: animateOdd 2s infinite linear; }

@keyframes animateOdd {
  0% {
    top: -100%;
    transform: scale(1); }
  30% {
    top: 0;
    transform: scale(0.6); }
  70% {
    top: 0;
    transform: scale(0.6); }
  100% {
    top: 100%;
    transform: scale(0.2); } }

@keyframes animateEven {
  0% {
    top: 100%;
    transform: scale(1); }
  30% {
    top: 0;
    transform: scale(0.6); }
  70% {
    top: 0;
    transform: scale(0.6); }
  100% {
    top: -100%;
    transform: scale(0.2); } }

@keyframes Ani {
  0% {
    box-shadow: 0 0 0 rgba(220, 220, 220, 0);
    border: 1px solid rgba(220, 220, 220, 0);
    transform: scale(0); }
  70% {
    box-shadow: 0 0 50px gainsboro;
    border: 1px solid gainsboro;
    transform: scale(1); }
  to {
    box-shadow: 0 0 60px rgba(220, 220, 220, 0);
    border: 0 solid rgba(220, 220, 220, 0);
    transform: scale(2); } }

@media only screen and (max-width: 992px) {
  .landing-page .header__right span {
    display: none; }
  .landing-page .header__contact a {
    margin-left: 0; }
  .landing-page .header__menu a {
    margin-left: 0; }
  .landing-page .s3__content {
    margin-bottom: 42px;
    padding-right: 15px; }
  .landing-page .s3__icon {
    display: flex;
    justify-content: center; }
  .landing-page .s4 .row {
    flex-direction: column-reverse; }
  .landing-page .s4__content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 32px; }
  .landing-page .s4__img {
    position: initial;
    width: 100%; }
  .landing-page .s5__content {
    padding-left: 15px;
    padding-right: 15px; }
  .landing-page .s5__arrow--next {
    right: 30px; }
  .landing-page .s5__arrow--prev {
    left: 30px; }
  .landing-page .s7-info__box:after {
    display: none; }
  .landing-page .s8 .row {
    position: relative; }
  .landing-page .s8__icon {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end; } }

@media only screen and (max-width: 768px) {
  .landing-page .s2 {
    padding: 80px 0; }
  .landing-page .s3 {
    padding-bottom: 0; }
  .landing-page .s5__desc {
    max-width: 100%; }
  .landing-page .s6__desc {
    max-width: 100%; }
  .landing-page .s8__content {
    margin-top: 0; }
  .landing-page .contact__content h3 {
    letter-spacing: 1px; }
  .landing-page .contact .row {
    flex-direction: column; }
    .landing-page .contact .row > div:nth-child(2n) {
      margin-left: 0; }
    .landing-page .contact .row > div {
      padding-left: 15px;
      padding-right: 15px; }
  .landing-page .contact__form {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px; } }

@media only screen and (max-width: 480px) {
  .landing-page .header__name {
    display: none; }
  .landing-page .header .navbar__close {
    top: 20px;
    right: 20px; }
  .landing-page .s3__icon img {
    width: 100px; }
  .landing-page .s7__icon {
    display: none; }
  .landing-page .s7__desc {
    max-width: 100%; }
  .landing-page .s8__content img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .landing-page .s8__icon {
    position: initial;
    justify-content: center; } }
