@font-face {
  font-family: 'Garamond-Premr-Pro';
  src: url("../fonts/GaramondPremrPro-SmbdSubh.otf") format("truetype"); }

body {
  font-family: "Quicksand";
  padding: 0;
  margin: 0;
  background-image: linear-gradient(45deg, #005262 0%, #053d4d 100%);
  font-weight: normal;
  color: #FFFFFF; }

h1 {
  font-family: "Garamond-Premr-Pro";
  font-size: 32px; }

h2 {
  font-family: "Garamond-Premr-Pro";
  font-size: 28px; }

h3 {
  font-family: "Garamond-Premr-Pro";
  font-size: 24px; }

h4 {
  font-family: "Garamond-Premr-Pro";
  font-size: 20px; }

h5 {
  font-family: "Garamond-Premr-Pro";
  font-size: 16px; }

h6 {
  font-family: "Garamond-Premr-Pro";
  font-size: 14px; }

img {
  max-width: 100%; }

.white-color {
  color: #FFFFFF; }

.primary-color {
  color: #ffd8a3; }

.text-color {
  color: #edd9c0; }

.text-color-secondary {
  color: #505324; }

.ff-muli-regular {
  font-family: 'Muli-Regular'; }

.ff-muli-bold .loading-scren {
  font-family: 'Muli-Bold'; }

.ff-muli-extrabold {
  font-family: 'Muli-ExtraBold'; }

.ff-garamond-premr-pro {
  font-family: 'Garamond-Premr-Pro'; }

.landing-page .header {
  height: 58px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #354d49; }
  .landing-page .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%; }
  .landing-page .header__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #42776f; }
  .landing-page .header__left {
    display: flex;
    justify-content: center;
    align-items: center; }
  .landing-page .header__logo {
    padding: 20px 16px 12px;
    background-color: #42776f;
    position: absolute;
    left: 0;
    top: 0; }
  .landing-page .header__name {
    font-family: 'Garamond-Premr-Pro';
    letter-spacing: 5px;
    font-size: 13px;
    margin-left: 120px;
    margin-bottom: -8px; }
  .landing-page .header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .landing-page .header__right a {
      margin-left: 12px; }
    .landing-page .header__right span {
      font-size: 13px; }
  .landing-page .header__line {
    width: 1px;
    height: 100%;
    background-color: #42776f;
    margin: 0 30px; }

.landing-page .main {
  padding-top: 58px; }

.landing-page section {
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.landing-page .section-item {
  display: flex;
  align-items: center;
  margin-bottom: 48px; }
  .landing-page .section-item__line {
    width: 10px;
    height: 30px;
    background-color: #42776f;
    margin-right: 20px; }
  .landing-page .section-item span {
    font-family: 'Garamond-Premr-Pro'; }

.landing-page .s1 {
  padding: 200px 0; }
  .landing-page .s1-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }

.landing-page .s2 {
  padding: 150px 0; }

.landing-page .s3 {
  padding: 60px 0; }
  .landing-page .s3__title {
    text-transform: uppercase;
    margin-bottom: 42px; }
  .landing-page .s3__content {
    padding-right: 80px; }
  .landing-page .s3__icon {
    margin-top: 60px; }
    .landing-page .s3__icon img:first-child {
      margin-right: 60px; }

.landing-page .s4 {
  background-color: #354d49; }
  .landing-page .s4__title {
    text-transform: uppercase;
    margin-bottom: 42px; }
  .landing-page .s4__content {
    padding: 60px 0 60px 80px; }
  .landing-page .s4__icon {
    margin-top: 60px; }

.landing-page .s5 {
  padding: 60px 0;
  background-color: #233331; }
  .landing-page .s5__content {
    text-align: center; }
  .landing-page .s5__subtitle {
    color: #60b0a4;
    font-size: 13px;
    font-family: 'Garamond-Premr-Pro';
    text-transform: uppercase;
    margin-bottom: 28px; }
  .landing-page .s5__title {
    text-transform: uppercase;
    margin-bottom: 28px; }

.loading-scren {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #edd9c036;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  color: #fff191;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ffffff;
  box-shadow: 0 0 20px #edd9c0;
  z-index: 1031;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .loading-scren span {
    font-family: 'Garamond-Premr-Pro';
    font-size: 18px; }

.loading-scren-wrapper {
  opacity: 1;
  overflow: hidden;
  transition: opacity .5s ease-in-out;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000d1; }
  .loading-scren-wrapper ul {
    position: absolute;
    top: calc(45% + 120px);
    width: 100%;
    text-align: center;
    padding-left: 0;
    transform: translateY(-50%); }
  .loading-scren-wrapper ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    background: #1c1a1a;
    width: 40px;
    height: 40px;
    overflow: hidden; }
  .loading-scren-wrapper ul li::before {
    content: attr(data);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 35px;
    font-weight: bold;
    background: #ffc107;
    overflow: hidden; }
  .loading-scren-wrapper ul li:nth-child(2n)::before {
    animation: animateEven 2s infinite linear; }
  .loading-scren-wrapper ul li:nth-child(2n+1)::before {
    animation: animateOdd 2s infinite linear; }

@keyframes animateOdd {
  0% {
    top: -100%;
    transform: scale(1); }
  30% {
    top: 0;
    transform: scale(0.6); }
  70% {
    top: 0;
    transform: scale(0.6); }
  100% {
    top: 100%;
    transform: scale(0.2); } }

@keyframes animateEven {
  0% {
    top: 100%;
    transform: scale(1); }
  30% {
    top: 0;
    transform: scale(0.6); }
  70% {
    top: 0;
    transform: scale(0.6); }
  100% {
    top: -100%;
    transform: scale(0.2); } }

@media only screen and (min-width: 1200px) {
  .s-premium .navbar-collapse ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .s-premium .navbar-collapse ul li {
      flex-basis: 25%;
      position: relative;
      margin-bottom: 30px; }
      .s-premium .navbar-collapse ul li a {
        padding-bottom: 5px !important; }
      .s-premium .navbar-collapse ul li:after {
        content: "";
        position: absolute;
        left: 12px;
        right: 12px;
        bottom: 0;
        height: 1px;
        background-color: #ffffff;
        opacity: 0.4; }
  .s-premium-1__content {
    padding-top: 120px; }
  .key-img-4 {
    max-width: 80%; }
  .section-wrapper {
    padding-top: calc(77px + 40px + 20px);
    height: 100%;
    padding-bottom: 15px;
    display: flex;
    align-items: center; }
  .s-premium-2 .section-wrapper {
    flex-direction: column; }
  .s-premium-2__info-item {
    margin: 0 32px;
    flex: 0 0 24%; }
  .s-premium-2__img > img {
    height: calc(calc(100vh - calc(5px + 40px + 20px)) - 204px - 30px - 3vh);
    max-height: 100%;
    min-height: 100%;
    object-fit: cover; }
  .s-premium-3 .section-wrapper {
    padding-bottom: 0; }
  .s-premium-3 .container-fluid {
    height: 100%; }
    .s-premium-3 .container-fluid > .row {
      height: 100%; }
  .s-premium-3__img > img {
    max-height: 100%;
    object-fit: cover;
    object-position: top; }
  .s-premium-5 .content-main {
    height: 100%; }
    .s-premium-5 .content-main > .row {
      height: 100%; }
  .s-premium-5__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .s-premium-5__img > img {
    height: calc(calc(100vh - calc(77px + 40px + 20px)));
    max-height: 100%;
    min-height: 100%;
    object-fit: cover; }
  .s-premium-4 .section-wrapper {
    padding-top: calc(calc(77px + 40px + 20px) - 40px); }
  .s-premium-6 .section-wrapper {
    padding-top: calc(calc(77px + 40px + 20px) - 40px); }
  .s-premium-8__info-1 img {
    max-width: 80%; }
  .s-premium-8__info-2 img {
    max-width: 80%; }
  .s-premium-6__slides {
    max-width: 100%;
    margin: 0 auto; } }

@media only screen and (min-width: 1500px) {
  .s-premium-2__content {
    flex: 3; }
  .s-premium-3__content {
    flex: 3; }
  .s-premium-3__img {
    padding-left: 5%; } }

@media only screen and (min-width: 1600px) {
  .s-premium .navbar {
    padding: 35px 0 40px 6%; }
  .s-premium .header {
    top: 40px; }
  .s-premium-3__content {
    padding-left: calc((100vw - 1344px - calc(2% + 60px))/2); }
  .s-premium-2__content {
    padding-left: calc((100vw - 1344px - calc(2% + 60px))/2); } }

@media only screen and (max-width: 1500px) {
  .s-premium .section-title {
    margin-bottom: 20px; }
  .s-premium .navbar .nav-link {
    font-size: 24px;
    padding-bottom: 15px; }
  .s-premium .navbar-nav li:not(:last-child) .nav-link {
    margin-bottom: 10px; }
  .s-premium .navbar__close {
    top: 50px; }
  .s-premium-1 h2 {
    font-size: 40px; }
  .s-premium-1 h4 {
    font-size: 20; }
  .s-premium-2__content h4 {
    font-size: 25px;
    margin-bottom: 12px; }
  .s-premium-2__content p {
    margin-bottom: 20px; }
  .s-premium-2__info-list {
    padding: 0; }
  .s-premium-2__info-item {
    margin: 0 15px; }
  .s-premium-3__content h4 {
    font-size: 25px;
    margin-bottom: 12px; }
  .s-premium-3__content p {
    margin-bottom: 20px; }
  .s-premium-3__info {
    margin-top: 20px; }
  .s-premium-4__content h4 {
    font-size: 25px;
    margin-bottom: 12px; }
  .s-premium-4__content p {
    margin-bottom: 0; }
  .s-premium-4__info {
    margin-top: 20px; }
    .s-premium-4__info img {
      width: 95%; }
  .s-premium-5__content {
    margin-bottom: 5px; }
    .s-premium-5__content h4 {
      font-size: 25px;
      margin-bottom: 12px; }
    .s-premium-5__content p {
      margin-bottom: 20px; }
  .s-premium-5__slide {
    margin-top: 25px; }
  .s-premium-6__header h4 {
    font-size: 25px;
    margin-bottom: 10px; }
  .s-premium-6__header p {
    margin-bottom: 30px; }
  .s-premium-7__content h4 {
    font-size: 25px;
    margin-bottom: 12px; }
  .s-premium-7__content p {
    margin-bottom: 15px;
    font-size: 18px; }
  .s-premium-7__info {
    margin-top: 20px; }
  .s-premium-7__info-item div p {
    font-size: 12px; }
  .s-premium-8__content {
    margin-top: -190px; }
    .s-premium-8__content h4 {
      font-size: 25px;
      margin-bottom: 12px; }
    .s-premium-8__content p {
      margin-bottom: 8px;
      font-size: 15px; }
  .s-premium-8__info {
    margin-top: 20px;
    text-align: center; }
  .s-premium-8 .nav-link {
    font-size: 18px; }
    .s-premium-8 .nav-link span {
      padding: 8px 10px; }
  .s-premium-8__img {
    margin-top: 15px; } }

@media only screen and (min-width: 1700px) {
  .key-img-4 {
    max-width: 95%; } }

@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  .section-wrapper {
    padding-top: calc(77px + 30px + 20px); }
  .s-premium-5__img img {
    height: calc(100vh - calc(77px + 30px + 20px)); } }

@media only screen and (max-width: 1440px) {
  .key-img-4 {
    max-width: 72%; }
  .s-premium-2__info-item {
    margin: 0 8px;
    padding: 15px 8px; }
  .s-premium-6 .owl-dots {
    margin-top: 20px; } }

@media only screen and (max-width: 1200px) {
  .section-wrapper {
    padding: 60px 0; }
  .s-premium {
    height: unset;
    padding-top: 63px; }
    .s-premium .section {
      position: unset;
      padding-left: 0;
      height: auto; }
    .s-premium .navbar {
      padding: 0;
      display: flex; }
      .s-premium .navbar .navbar__logo-main {
        display: none; }
      .s-premium .navbar .container {
        max-width: unset;
        padding: 0; }
    .s-premium .navbar__box {
      display: none; }
    .s-premium .navbar__sidebar {
      padding: 10px 10px;
      height: unset;
      width: 100%;
      background-image: linear-gradient(45deg, #005262 0%, #053d4d 100%);
      height: 63px; }
    .s-premium .navbar__icon {
      flex-direction: unset;
      margin-right: 10px; }
      .s-premium .navbar__icon img {
        width: 15px; }
      .s-premium .navbar__icon a {
        margin-top: 0 !important;
        margin-left: 15px; }
        .s-premium .navbar__icon a:first-child img {
          width: 25px; }
    .s-premium .navbar__icon-youtube img {
      width: 25px !important; }
    .s-premium .navbar__hotline {
      display: flex; }
    .s-premium .navbar__logo {
      display: block; }
    .s-premium .navbar-toggler span {
      display: none; }
    .s-premium .navbar__close {
      top: 85px; }
    .s-premium .fixed-top {
      right: 0;
      bottom: unset; }
  .key-img-4 {
    width: 100%; }
  .s-premium-1 {
    padding: 100px 0; }
    .s-premium-1.section {
      position: relative;
      height: 100vh; }
  .s-premium-2__info-list {
    flex-wrap: wrap; }
  .s-premium-2__info-item {
    margin-bottom: 20px; }
  .s-premium-4 .section-wrapper {
    padding-bottom: 50px; }
  .s-premium-5 .section-wrapper {
    padding-bottom: 0; }
  .s-premium-5__content {
    margin-top: 0; }
  .s-premium-contact {
    padding: 40px 0 40px; }
  .s-premium-contact__footer {
    margin-top: 50px; } }

@media only screen and (max-width: 992px) {
  .s-premium--last .navbar-toggler__img-2 {
    display: none; }
  .s-premium--last .navbar-toggler__img-1 {
    display: block; }
  .s-premium--first .navbar-toggler__img-2 {
    display: none; }
  .s-premium--first .navbar-toggler__img-1 {
    display: block; }
  .s-premium .navbar__icon-line {
    display: none; }
  .s-premium .header__hotline {
    margin-right: 10px; }
  .s-premium .navbar-collapse {
    overflow: auto; }
  .s-premium .navbar__hotline {
    position: relative;
    margin-right: 5px; }
    .s-premium .navbar__hotline:after {
      content: '';
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 44px;
      height: 44px;
      position: absolute;
      left: -5px;
      top: -5px;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
      animation: Ani 2s infinite;
      opacity: .8;
      z-index: -2; }
  .s-premium-1 {
    background-position: right !important; }
    .s-premium-1 h2 {
      font-size: 30px; }
    .s-premium-1 h4 {
      font-size: 25px; }
  .s-premium-2 .section-title {
    justify-content: center; }
  .s-premium-2 .link-arrow {
    justify-content: center; }
  .s-premium-2 .container-fluid .row {
    margin-right: 0; }
  .s-premium-2__content {
    flex: unset;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center; }
  .s-premium-2__img {
    flex: unset;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px; }
    .s-premium-2__img > img {
      width: 100%; }
  .s-premium-3 .section-title {
    justify-content: center; }
  .s-premium-3 .link-arrow {
    justify-content: center; }
  .s-premium-3 .container-fluid .row {
    margin-right: 0; }
  .s-premium-3__content {
    flex: unset;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center; }
  .s-premium-3__content-header {
    margin-bottom: 30px;
    padding-right: 15px; }
  .s-premium-3__img {
    flex: unset;
    width: 100%;
    padding-right: 0;
    margin-bottom: 0; }
    .s-premium-3__img img {
      width: 100%; }
  .s-premium-4__info {
    flex-wrap: wrap; }
    .s-premium-4__info img {
      width: 100%;
      max-width: 100%; }
  .s-premium-4__info-1 {
    flex: unset;
    width: 100%;
    padding-right: 0; }
    .s-premium-4__info-1 .row {
      margin-bottom: 20px; }
      .s-premium-4__info-1 .row > div {
        flex: 1;
        padding: 0 15px; }
  .s-premium-4__info-2 {
    flex: unset;
    width: 100%; }
  .s-premium-5 .section-title {
    justify-content: center; }
  .s-premium-5 .link-arrow {
    justify-content: center; }
  .s-premium-5__content {
    flex: unset;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center; }
  .s-premium-5__content-header {
    margin-bottom: 30px;
    padding: 0 15px; }
  .s-premium-5__slide {
    padding: 0 30px; }
  .s-premium-5__img img {
    width: 100%; }
  .s-premium-6 .owl-nav .owl-prev {
    left: 30px; }
  .s-premium-6 .owl-nav .owl-next {
    right: 30px; }
  .s-premium-7 .section-title {
    justify-content: center; }
  .s-premium-7 .link-arrow {
    justify-content: center; }
  .s-premium-7__content {
    flex: unset;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center; }
  .s-premium-7__content-header {
    margin-bottom: 30px;
    padding-right: 0; }
  .s-premium-7__info {
    padding: 0 15px; }
  .s-premium-7__img {
    padding-left: 15px; }
  .s-premium-8__content {
    margin-top: -100px; }
  .s-premium-8 .nav {
    padding-left: 15px; }
  .s-premium-8__img {
    padding: 0;
    padding-right: 15px; }
  .s-premium-contact__form {
    max-width: unset;
    width: unset; } }

@media only screen and (max-width: 768px) {
  .s-premium-1__content img {
    width: 70%; }
  .s-premium-1__content h2 {
    margin-top: 35px; }
  .s-premium-8__content {
    margin-top: 20px; } }

@media only screen and (max-width: 480px) {
  .s-premium .navbar__logo {
    width: 150px;
    padding: 10px 15px;
    right: unset;
    background-image: none;
    top: 5px; }
  .s-premium .navbar__icon-1 {
    display: none; }
  .s-premium .navbar__icon-2 {
    display: none; }
  .s-premium .navbar .nav-link {
    font-size: 18px; }
  .s-premium .navbar__close {
    right: 10px; }
  .s-premium .navbar__sidebar {
    padding: 2px 10px; }
  .s-premium .header__hotline {
    background: none !important;
    padding: 0; }
    .s-premium .header__hotline:after {
      content: none; }
    .s-premium .header__hotline span {
      display: none; }
  .s-premium .header__hotline-main {
    margin-right: 0; }
  .s-premium-1 {
    position: relative !important; }
    .s-premium-1 h2 {
      font-size: 25px; }
    .s-premium-1 h4 {
      font-size: 24px; }
    .s-premium-1 .content-main {
      display: none; }
  .s-premium-1__content {
    display: none;
    max-width: 100%;
    flex: unset; }
  .s-premium-1__img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: inherit;
    height: 100%; }
    .s-premium-1__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .s-premium-2__info-list {
    flex-wrap: wrap; }
    .s-premium-2__info-list .s-premium-2__info-item:not(:first-child):before {
      content: none; }
  .s-premium-2__info-item {
    flex: unset;
    width: 100%;
    border: 1px solid; }
  .s-premium-2__zoom {
    width: 40px;
    height: 40px; }
    .s-premium-2__zoom img {
      width: 22px; }
  .s-premium-4__info-1 {
    padding-right: 0; }
    .s-premium-4__info-1 .row > div {
      flex: unset;
      width: 100%;
      margin-bottom: 20px; }
  .s-premium-4__info-2 {
    padding-right: 0; }
    .s-premium-4__info-2 .row > div {
      flex: unset;
      width: 100%;
      margin-bottom: 20px; }
  .s-premium-5 .owl-nav > button {
    width: 45px;
    height: 45px; }
    .s-premium-5 .owl-nav > button:hover {
      transform: none; }
  .s-premium-5 .owl-nav .owl-next {
    right: -12px; }
  .s-premium-5 .owl-nav .owl-prev {
    left: -12px; }
  .s-premium-5__slide {
    padding: 0 15px; }
  .s-premium-6__item {
    padding-bottom: 0;
    margin-bottom: 25px; }
  .s-premium-6__item-title {
    position: unset;
    position: absolute;
    margin: 15px;
    bottom: -35px; }
    .s-premium-6__item-title > span {
      border: none;
      padding: 0;
      border: 1px solid #edd9c0;
      display: block;
      padding: 2px; }
      .s-premium-6__item-title > span span {
        font-size: 14px;
        display: block;
        padding: 8px 10px;
        display: block;
        padding: 8px 10px;
        overflow: hidden;
        white-space: nowrap; }
  .s-premium-6__opacity1 {
    display: none; }
  .s-premium-6__opacity2 {
    display: none; }
  .s-premium-6 .owl-dots {
    margin-top: 20px; }
  .s-premium-6 .content-main {
    padding: 0 !important; }
  .s-premium-7__info .row > div {
    padding: 0 15px !important; }
  .s-premium-7__content {
    margin-top: 0; }
  .s-premium-8 .nav-link {
    flex: 0 0 32%; }
    .s-premium-8 .nav-link span {
      padding: 6px 4px;
      white-space: nowrap;
      font-size: 16px; }
  .s-premium-8 .nav {
    padding-top: 270px; }
  .s-premium-8 #v-pills-8-3 .s-premium-8__info {
    margin-top: 510px; }
  .s-premium-8 #v-pills-8-3 .s-premium-8__img {
    margin-top: -680px; }
  .s-premium-8 #v-pills-8-6 .s-premium-8__info {
    margin-top: 450px; }
  .s-premium-8 #v-pills-8-6 .s-premium-8__img {
    margin-top: -620px; }
  .s-premium-8__content-header {
    margin-top: -515px;
    z-index: 1; }
  .s-premium-8__info {
    margin-top: 270px;
    overflow: hidden; }
  .s-premium-8__img {
    margin-top: -660px;
    padding-left: 15px; }
  .s-premium-contact__form .row {
    padding: 0 15px; }
    .s-premium-contact__form .row > div {
      flex: unset;
      width: 100%;
      margin-left: 0 !important; }
  .s-premium-1.section {
    padding: 0;
    background: none;
    min-height: unset;
    height: calc(100vh - 63px); } }
